@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333;
    line-height: 1.6;
}

.contenedor-header {
    background: #2d3e50;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contenedor-header header .logo a {
    font-size: 32px;
    color: #3498db;
    text-decoration: none;
    font-weight: 700;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    color: #fff;
    margin: 0 12px;
    padding: 8px 0;
    transition: color 0.3s;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.contenedor-header header nav ul li a:hover {
    color: #3498db;
}

.nav-responsive {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* INICIO */

.inicio {
    background: linear-gradient(to top, rgba(45, 62, 80, 0.8), rgba(45, 62, 80, 0.1)),
        url(../img/banner.webp);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.inicio .contenido-banner {
    background-color: rgba(45, 62, 80, 0.8);
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
}

.inicio .contenido-banner img {
    margin-top: 20px;
    border: 5px solid #3498db;
    width: 60%;
    border-radius: 50%;
}

.inicio .contenido-banner h1 {
    font-size: 32px;
    margin-top: 20px;
}

.inicio .contenido-banner h2 {
    font-size: 14px;
    font-weight: 400;
}

.inicio .contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 20px 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #3498db;
}

.sobremi {
    background-color: #2d3e50;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1200px;
    margin: 0 auto;
}

.sobremi h2 {
    font-size: 36px;
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #3498db;
    font-weight: 600;
}

.sobremi .fila {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.sobremi .fila .col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 10px 0;
}

.sobremi .fila .col ul li strong {
    color: #3498db;
}

.sobremi .fila .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .contenedor-intereses .interes {
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.sobremi .fila .contenedor-intereses .interes:hover {
    background-color: #3498db;
}

.sobremi .fila .contenedor-intereses .interes i {
    font-size: 24px;
    margin-bottom: 5px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    font-weight: 600;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #3498db;
    z-index: -1;
    transition: width 0.3s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

#skills {
    background-color: #2d3e50;
    border-top: 2px solid #3498db;
}

.container {
    display: grid;
    place-items: center;
    margin: 1.5rem;
    padding: 5rem 0;
}

.card-container {
    display: grid;
    gap: 2rem;
}

.card-article {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-img {
    width: 100%;
    border-radius: 10px;
}

.card-data {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    bottom: -5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.card-data i {
    color: #3498db;
}

.card-description {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.card-title {
    font-size: 24px;
    color: #3498db;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.card-button {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #3498db;
}

.card-button:hover {
    text-decoration: underline;
}

.card-article:hover .card-data {
    opacity: 1;
    transform: translateY(-5rem);
}

@media screen and (max-width: 340px) {
    .container {
        margin: 1rem;
    }

    .card-data {
        width: 100%;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1120px) {
    .container {
        height: 100vh;
    }
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img {
        width: 100%;
    }
    .card-data {
        padding: 1.5rem;
    }
}
